
.hidden{
    display:none;
}
body{
    background:  linear-gradient(to right,rgba(94, 94, 94, 0.7),rgba(94,94,94,0.7)), url("../image/fondo.png");
    background-size: 100%;
    background-attachment:fixed;
    font-family: 'Yusei Magic', sans-serif;
}
h1 a{
    color:#d0ff95;
    font-size: 100px;
    text-decoration: none;
}

#nombrefiltros{
    color:#fff;
    font-size: 50px;
    margin-bottom:0px
}

#filtros{
  
    display:-webkit-flex;
    justify-content: center;
}

.paisbebidas, .healthbebidas{
    padding-right: 50px;
    text-align: center;
    
}
  
  #paisbebidas, #healthbebidas{
    color:#fff;
    background: none;
    border:none;
    font-size: 30px;
}

#seccionBoton{
    text-align: center;
    margin-top: 70px;
}

#botonFiltrarBebidas{
    background: none;
    border: 5px solid#4a3425;
    border-radius: 20px;
    color:#d0ff95;
    font-size: 50px;
    margin-top: 30px;
    text-align: right;
}

h3{
    color:#fff;
    font-size: 30px;
}
  
article{
    margin-left: 10px;
}

ul li{
    color:#fff;
}

.fa-angle-down{
    text-decoration: none;
    background: none;
    border:none;
    color:#fff;
    display:block;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-left: 10px;
}
  
.fa-regular{
    text-decoration: none;
    background: none;
    border:none;
    color:#fff;
    display:block;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-left: 10px;
}

#corazon{
    color:red;
    margin-left: 10px;
    font-size: 30px;
    margin-top: 5px;
}

.hamburguesa{
    background-color: #4a3425;
    color: #d0ff95;
    padding: 4px 6px;
    border-radius: 10px; 
    cursor: pointer;
    display: none; 
    text-align: center; 
  }
  
@media (max-width:900px){
    #filtros{
    
        display:inline;
        justify-content: center;
        text-align: center;
      }
}
@media (max-width:600px){
    h1 a{
      color:#d0ff95;
      font-size: 50px;
      text-decoration: none;
    }
    h2{
        margin-left: 5px;
        text-align: center;
    }
  
    #imagen{
      margin-left: 0;
    }
    article{margin-left:15px;
    }
    #filtros{
    
      display:inline;
      justify-content: center;
      text-align: center;
    }
    nav{
      display: none;
    }
    .hamburguesa{
      display:block;
    }
    nav.botonesbarra{
      display: block;
      position: absolute;
      right: 5px;;
      top: 75px;
      background-color: #4a3425;
      width: 180px;
    }
    nav.botonesbarra ul{
        display: block !important;
    }
    nav.botonesbarra ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
