
body{
    background:  linear-gradient(to right,rgba(94, 94, 94, 0.7),rgba(94,94,94,0.7)), url("../image/fondo.png");
    background-size: 100%;
    background-attachment:fixed;
    font-family: 'Yusei Magic', sans-serif;
}

h1 a{
    color:#d0ff95;
    font-size: 100px;
    text-decoration: none;
}

#barraInicio{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #4a3425;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

#barraInicio li a{
    text-decoration: none;
    color: #d0ff95;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 50px;
}

.fa-x{
    border:none;
    background: none;
    color:red;
    font-size: 30px;
    margin-left: 5px;
}
.hamburguesa{
  background-color: #4a3425;
  color: #d0ff95;
  padding: 4px 6px;
  border-radius: 10px; 
  cursor: pointer;
  display: none; 
  text-align: center; 
}


@media (max-width:600px){
  h1 a{
    color:#d0ff95;
    font-size: 50px;
    text-decoration: none;
  }
  h2{
    margin-left: 5px;
    text-align: center;
  }

  #imagen{
    margin-left: 0;
  }
  article{margin-left:15px;
  }
  #filtros{
  
    display:inline;
    justify-content: center;
  }
  nav{
    display: none;
  }
  .hamburguesa{
    display:block;
  }
  nav.botonesbarra{
    display: block;
    position: absolute;
    right: 5px;;
    top: 75px;
    background-color: #4a3425;
    width: 180px;
  }
  nav.botonesbarra ul{
      display: block !important;
  }
  nav.botonesbarra ul li{
      border-bottom: 1px solid #fff;
      padding: 10px 0;
  }
}