
body{
    
     background:  linear-gradient(to right,rgba(94, 94, 94, 0.7),rgba(94,94,94,0.7)), url("https://cdn.businessinsider.es/sites/navi.axelspringer.es/public/media/image/2020/10/comida-platos-mesa-comida-2115297.jpg?tf=1080x");
     margin:15px;
     background-size: 100%;

}


#barraInicio li{
    margin: 30px;
}

h1{
    font-size: 130px;
    color:#d0ff95
}
h2{
    font-size: 70px;
    color:#4a3425
}
h3{
    font-size: 40px;
    color:#fff
}

#botonInicio{
    text-align: right;
    margin-top: 100px;
    margin-bottom: 10px;
}

#botonInicio a{
    text-decoration: none;
    color: #4a3425;
    background-color: #d0ff95;
    margin: 10%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

p{
    text-align: right;
    font-size: 20px;
    margin-right: 200px;
    color:#fff;
    margin-top: 30px;
}