
.hidden{
  display:none;
}
body{
  background:  linear-gradient(to right,rgba(94, 94, 94, 0.7),rgba(94,94,94,0.7)), url("../image/fondo.png");
  background-size: 100%;
  /* background: cover;
  background: no-repeat; */
  background-attachment:fixed;
  font-family: 'Yusei Magic', sans-serif;
}

#platosRicos{
  margin-top: 150px;
}
h1 a{
  color:#d0ff95;
  font-size: 100px;
  text-decoration: none;
}

h2{
  color:#4a3425;
  font-size: 80px;
  margin-left: 40px;
  margin-bottom: 5px;
}

#nombrefiltros{
  color:#fff;
  font-size: 50px;
  margin-bottom:0px
}

#barraInicio{
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4a3425;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

#barraInicio li a{
  text-decoration: none;
  color: #d0ff95;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  padding-left: 50px;
}

#corazon{
  color:red;

}

#filtros{
  
  display:-webkit-flex;
  justify-content: center;
}

.paisplatos, .menuplatos, .tipoplatos, .healthplatos{
  padding-right: 50px;
  text-align: center;
  
}

#paisplatos, #comidaplatos, #tipocomidaplatos, #healthplatos{
  color:#fff;
  background: none;
  border:none;
  font-size: 30px;
}

#seccionBoton{
  text-align: center;
  margin-top: 70px;
}

#botonFiltrarPlatos{
  background: none;
  border: 5px solid#4a3425;
  border-radius: 20px;
  color:#d0ff95;
  font-size: 50px;
  margin-top: 30px;
  text-align: right;
}

h3{
  color:#fff;
  font-size: 30px;
}

#imagen{
  transition:0.5s;
  margin-left: 60px;
}
#imagen:hover{
  scale:150%;

}
article{
  margin-left: 10px;
}

article a{
  text-decoration: none;
}

.fa-angle-down{
  text-decoration: none;
  background: none;
  border:none;
  color:#fff;
  display:block;
  padding-top:5px;
  padding-bottom: 5px;
  font-size: 20px;
  margin-left: 10px;
}

.fa-regular{
  text-decoration: none;
  background: none;
  border:none;
  color:#fff;
  display:block;
  padding-top:5px;
  padding-bottom: 5px;
  font-size: 20px;
  margin-left: 10px;
}
#cargarImagen{
  text-align: center;
}
#cargarImagen img{
  width: 500px;
  height: 500px;
}

ul li{
  color:#fff;
}

#corazon{
  color:red;
  margin-left: 10px;
  font-size: 30px;
  margin-top: 5px;

}